<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG99OxTyEMCQ3jTWUBqxC4G4GQM8ivyy8PmJnQB90TXG_kNZwANCKKonUe4LWCfucfCzXgccWPqqepmoCIJ</string>
	<key>oauthRedirectURI</key>
	<string>testsfdc://oauth/success</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
